<html>
    <head>
        <title>Your match result!</title>
    </head>
    <body>
        <div style="text-align:center">
            <div data-th-if="${matches}">
                Your match result!
                <p th:text="${lm.getUserTwo()}"></p>
                <p th:text="${lm.getPercentage()}"></p>
                <p th:text="${lm.getResult()}"></p>
            </div>
            <div data-th-if="${!matches}">
                No Matches Found :(
            </div>
        </div>
    </body>
</html>